# Temporary files
*.swp
*_cache/

# Python
*.pyc
.coverage
__pycache__/
dist/

# Notebooks
.ipynb_checkpoints/
Untitled*.ipynb
notebooks/groups.*

# Data
*.tif
*.csv
*.mat
*.png

report/
out/

# Test
!tests/data/modis_test.tif
!tests/data/modis_test_geo.tif
!tests/data/modis_test_dem.tif


# pixi environments
.pixi
*.egg-info

# Generated docs
site/
docs/private.md
