# Temporary files
*.swp
*_cache/
.cache/
.DS_Store/

# Python
*.pyc
.coverage
__pycache__/
dist/

# Notebooks
.ipynb_checkpoints/
Untitled*.ipynb
test*.ipynb
notebooks/evaspa/groups.*
!notebooks/data_validation/*

# Data
*.tif
*.csv
*.mat
*.png

report/
out/

# Test
!tests/data/data_test_20230303T112730.tif
!tests/data/data_dir/*.tif
!tests/data/timeseries/*.tif
!tests/data/dem.tif

# pixi environments
.pixi
*.egg-info
pixi.lock

# Generated docs
site/
docs/private.md
!docs/**/images/*.png
